:root {
    --black-color: #232323;
    --black-dack: #101010;
    --primary-color: #FF4415;
    --primary-colors: #FF4D20;
    --primary-red: #FF4415;
    --gray1: #646464;
    --gray3: #B1B1B1;
    --gray2: #838383;
    --gray4: #969696;
    --gray-color: #787878;
    --white1: #F6F6F6;
    --white: #fff;
    --green: #36BD59;
    --grayf0: #F0F0F0;
    --yellow: #FEB618;
    --white2: #FAF8FF;
    --grey: #666;
    --grayf8: #F8F8F8;
    
}